<ul id="menu">
    <li class="home"><a href="index.html" class="first">Home</a></li>

    <li class="about"><a href="about.html">About</a></li>

    <li class="collaboration"><a href="collaboration.html">Collaboration</a></li>

    <li class="projects"><a href="projects.html">Projects</a></li>

    <li class="communities"><a href="communities.html">Communities</a></li>

    <li class="media"><a href="media.html">Media &amp; Events</a></li>

    <li class="education"><a href="education.html">Education</a></li>

    <li class="contact"><a href="contact.html">Contact</a></li>
</ul>
